
<!-- *** FOOTER ***
_________________________________________________________ -->
<div id="footer" data-animate="fadeInUp">
  <div class="container">
    <div class="col-md-3 col-sm-6">
      <h4>Pages</h4>
      <ul>
        <li><a href="/">About us</a>
        </li>
        <li><a href="/">Terms and conditions</a>
        </li>
        <li><a href="/">FAQ</a>
        </li>
        <li><a href="/contact">Contact us</a>
        </li>
        <li>
          <a href="#">Cancellation Policy</a>
        </li>
        <li>
          <a href="#">Return Policy</a>
        </li>
        <li>
          <a href="#">Payment Options</a>
        </li>
      </ul>

      <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

      <h4>User section</h4>

      <ul>
        <li><a href="/login">Login</a>
        </li>
        <li><a href="/signup">Sign Up</a>
        </li>

      </ul>

      <hr class="hidden-md hidden-lg">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

      <h4>Where to find us</h4>

      <p><strong>Neppasal Online Pvt. Ltd.</strong>
        <br>13/25 Devkota Marga
        <br>New Baneshwor, Kathmaandu
        <br>45Y 73J
        <br>Nepal
      </p>

      <a href="/contact">Go to contact page</a>

      <hr class="hidden-md hidden-lg">

    </div>
    <!-- /.col-md-3 -->



    <div class="col-md-3 col-sm-6">

      <h4>Get the news</h4>

      <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

      <form>
        <div class="input-group">

          <input type="text" class="form-control">

          <span class="input-group-btn">

    			    <button class="btn btn-default" type="button">Subscribe!</button>

    			</span>

        </div>
        <!-- /input-group -->
      </form>

      <hr>

      <h4>Stay in touch</h4>

      <p class="social">
        <a href="https://www.facebook.com/" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
      </p>


    </div>
    <!-- /.col-md-3 -->

  </div>
  <!-- /.container -->
</div>
<!-- /#footer -->
<!-- *** FOOTER END *** -->
<!-- *** COPYRIGHT *** -->
<div id="copyright">
  <div class="container">
    <div class="col-md-6">
      <p class="pull-left">Copyright © 2016 Neppasal. All Rights Reserved&nbsp;&nbsp;</p>
    </div>
    <div class="col-md-6">
      <p class="pull-right"> Template by <a href="http://www.getbootstrap.com">Twitter Bootstrap</a>
      </p>
    </div>
  </div>
</div>
<!--Stripe payment -->
<!-- <script src="js/jquery.form.js"></script>
<script src="js/jquery.blockUI.js"></script> -->
<!--<script-->
<!--src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
<!--data-key="pk_test_srKHaSHynBIVLX03r33xLszb"-->
<!--data-name="neppasal"-->
<!--data-description="2 widgets"-->
<!--data-amount="2000"-->
<!--data-locale="auto">-->
<!--</script>-->
<!--Stripe payment -->
